.delete{
    width: 51px;
    height: 51px;
    border: 1px solid #E6E8EB;
    border-radius: 5px;
    cursor: pointer;
}

.delteIcon {
    font-size: 22px;
    color: var(--mui-palette-error-main);
}