.root {
  display: flex;
}

.topbar {
  background-color: white;
}

.menuButton {
  width: 56px;
  height: 40px;
  border-radius: 5px !important;
  margin: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mui-palette-primary-main) !important;
}
.drawerHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
}

.topBarTitle {
  color: black;
  font-size: 24px;
  line-height: 26.78px;
  flex-grow: 1;
}

.itemsList {
  padding: 18px !important;
}

.closedList .listItemSelected {
  width: 30px;
  height: 30px;
}

.closedList .listItemSelected svg{
  margin-left: 1px;
}
.listItemButton {
  margin-left: 60px;
}

.listItemSelected {
  border-radius: 6px;
  background-color: var(--mui-palette-primary-main) !important;
  color: white !important;
}

.selectedItemText,
.selectedItemIcon {
  color: white !important;
}

.listItemButton {
  position: relative;
  min-height: 48px;
  justify-content: flex-end;
  padding: 2.5px;
  align-items: center;
}

.closedListItemIcon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.listItemText {
  width: 100%;
  height: 16px;
  color: #999999;
  line-height: 15.62px;
  text-align: right !important;
  position: absolute;
  right: 22%;
  bottom: 33%;
  white-space: nowrap;
}

.content {
  flex-grow: 1;
  padding: 3px;
}
.topbar {
  padding-right: 7px !important;
}
.openSidebar .topBarTitle {
  margin-right: 250px;
}

.closedSidebar .topBarTitle {
  margin-right: 30px;
}

.drawerImage {
  width: 97px;
  margin-left: 70px;
}

.chevronIcon {
  font-size: 24px !important;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

.userProfileImage {
  width: 40px;
  height: 40px;
  margin-left: 4px;
}
.notificationCount {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.notificationsIcon {
  width: 24px;
  height: 25.4px;
  color: black;
}
.profileInformationContainer {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  margin-left: 1rem;
}
.userProfileName {
  margin-left: 1px;
  color: black;
}

.openDrawer {
  z-index: 99999 !important;
}
.logoItemIcon {
  height: 25px;
  width: 25px;
  margin-right: 2px;
  margin-bottom: 6px;
  border-radius: 40px;
}